---
layout: default
---

<script src="https://giscus.app/client.js"
        data-repo="jeremyko/jeremyko.github.io"
        data-repo-id="R_kgDOH7vuQA"
        data-category="Announcements"
        data-category-id="DIC_kwDOH7vuQM4CRN35"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h3 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h3>
        {% else %}
          <h3 id="page-title" class="page-title p-name">{{ title }}</h3>
        {% endif %}
      </header>

      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
      </div>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>
        
        <!-- giscus 댓글 기능  -->
        <div class="'giscus ">
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>
